In [1]:
# List of high schools

high_schools = ['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']

for i in high_schools:
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.0-cp37-cp37m-macosx_10_9_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 2.2 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas) (2021.1)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.0-cp37-cp37m-macosx_10_9_x86_64.whl (16.8 MB)
     |████████████████████████████████| 16.8 MB 831 kB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.0 pandas-1.3.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [3]:
for item in high_school_types:
    print(item)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [4]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [7]:
# Add the Pandas dependency.
import pandas as pd

In [9]:
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [11]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [12]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [14]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [15]:
schools_df['ID']=school_id
schools_df['Name']=school_name
schools_df['Type']=type_of_school
schools_df

   ID                   Name      Type
0   0      Huang High School  District
1   1   Figueroa High School  District
2   2    Shelton High School   Charter
3   3  Hernandez High School  District
4   4    Griffin High School   Charter

In [16]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [17]:
high_schools_df = pd.DataFrame(high_schools_dict)
high_schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter